
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr
*.o
*.exe
plugins/*.a

bin/cod4u_lnx
bin/cod4u_mach
bin/cod4u_win32.exe
bin/cod4u_win32.def

build_elf_official.sh
build_win32_official.cmd

assets/
